/* ~Video~ */

#what-we-do {
  color: var(--color1);
  padding-top: var(--header);
}

#what-we-do h1, #what-we-do div {
  margin: 4vw;
  font-size: 1.15em;
  text-align: match-parent;
}

iframe {
  width: 90vw;
  height: 40vh;
}

#what-we-do div {
  padding: 0;
  font-size: 0.85em;
  font-weight: bold;
}