/* ~ Product ~ */

#product {
  background: url("avel-chuklanov-1491019-unsplash.jpg") no-repeat center center;
  background-size: cover;
  padding-top: var(--header);
}

#product div {
  align-self: start;
  width: 30vw;
  background-color: var(--color2);
}

#product a:hover {
  font-size: 1.35em;
}

#product {
  text-align: left;
}

/* ~ Texts ~ */

.texts, form {
  font-size: 0.95em;
}

.texts {
  margin: 3vw;
  padding: 2vh;
  color: var(--color1);
  background-color: var(--color4);
}

.texts p {
  margin: 1.5vh;
  text-align: justify;
}

.texts a {
  text-decoration-line: underline;
}

/* ~ About ~ */
#about {
  height: 50vh;
}

#about div {
  align-self: center;
  width: 80vw;
  background-color: var(--color3);
}