/* ~Header~ */

#header-img {
  object-fit:cover;
  object-position: 50% 50%;
  min-width: 300px;
  height: 110px;
}

header {
  grid-row: 1/2;
  position: fixed;
  z-index: 3;
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  border-bottom: solid var(--color1);
}

#nav-bar {
  align-self: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color:var(--color1);
}

a:hover {
  font-size: 15px;
  color:var(--color2);
}
