/* Media Queries */
@media (max-width: 700px){
  header, nav ul {
    display: flex;
    flex-direction: column;
  }
   nav ul * {
      margin-top: 1.2vh;
     font-size: 0.9rem;
  }
}

/*    Main structure    */
:root {
  --color1: rgba(206, 64, 39, 1);
  --color2: rgba(206, 64, 39, 0.45);
  --color3: rgba(242, 238, 232, 1);
  --color4: rgba(242, 238, 232, 0.9);
}
:root, body, body * {
  margin: 0;
  padding: 0;
  background-color: var(--color3);
  text-align: center;
  box-sizing: border-box;
}

p, a {
  background: none;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
}

main {
  grid-row: 2/3;
}

footer {
  position: relative;
  grid-row: 3/4;
  bottom: 0;
  z-index: 4;
  font-size: 0.8rem;
  margin: 1.5%;
}


/* ~Main content~ */
/*
 * Photos by Avel Chuklanov on Unsplash
 */

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--color2);
}

section#action * {
  background-color: var(--color4);
  margin: 0 10vw;
  padding: 2vw;
  align-self: center;
}