/* Media Queries */
@media (max-width: 700px){
  :root {
    --header: 155px;
  }
  
  header, nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav ul {
    flex-direction: row;
  }
  nav ul * {
      margin: 1.2vh;
     font-size: 0.9rem;
  }
}

@media (min-width: 701px){
  :root {
    --header: 110px;
  }
}

/*    Main structure    */
:root {
  --color1: rgba(206, 64, 39, 1);
  --color2: rgba(206, 64, 39, 0.45);
  --color3: rgba(242, 238, 232, 1);
  --color4: rgba(242, 238, 232, 0.9);
}
:root, body, body * {
  margin: 0;
  padding: 0;
  background-color: var(--color3);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p, a {
  background: none;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
}

main {
  grid-row: 2/3;
}

footer {
  grid-row: 3/4;
  bottom: 0;
  z-index: 4;
  font-size: 0.8rem;
  padding: 1.5%;
  border-top: solid var(--color1);
}


/* ~Main content~ */
/*
 * Photos by Avel Chuklanov on Unsplash
 */


section {
  padding-top: var(--header);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--color2);
}

#action {
  padding-top: 0;
  height: 40vh;
  flex-direction: column-reverse;
  padding-bottom: 10vh;
}